.button-container {
	display: flex;
	justify-content: center; /* Centra horizontalmente */
	gap: 20px; /* Espacio entre los botones */
	margin-bottom: 20px; /* Separación del contenido inferior */
}

.back-button {
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.back-button:hover {
	background-color: #2980b9;
}

.patient-statistics {
	flex: 2;
	display: flex;
	flex-direction: column;
}

.patient-container .transfer-history {
	position: fixed;
	right: 0;
	top: 0;
	width: 50%;
	padding: 1.5rem;
	overflow-y: auto;
	height: 100vh;
	background-color: red;
}

.sessions-history {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.transfer-history table {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.transfer-history tbody tr,
.transfer-history thead tr {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
.chart-container {
	margin: 20px 0;
	background: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button {
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 1rem;
	margin-bottom: 15px;
	transition: background-color 0.3s ease;
}

.toggle-button:hover {
	background-color: #2980b9;
}