.dashboard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    padding: 20px;
}

.dashboard-header {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.dashboard-button {
    background-color: #e74c3c;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.dashboard-button:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

.dashboard-table {
    max-width: 90vw;
    border-collapse: collapse;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.dashboard-table th,
.dashboard-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.dashboard-table th {
    background-color: #f5f5f5;
    font-weight: 600;
}

.dashboard-table tr:hover {
    background-color: #f1f1f1;
}

.form-container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-container h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #dcdfe1;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.form-group .error-message {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: -8px;
    text-align: left;
}

.submit-button {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.submit-button:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Botones de acción en la tabla */
.play-button,
.stats-button {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: white;
    max-width: max-content;
}

/* Botón Play */
.play-button {
    background-color: #4caf50;
    /* Verde */
}

.play-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.play-button:active {
    background-color: #3e8e41;
    transform: translateY(0);
}

/* Botón Ver estadísticas */
.stats-button {
    background-color: #007bb5;
}

.stats-button:hover {
    background-color: #005f87;
    transform: translateY(-2px);
}

.stats-button:active {
    background-color: #004466;
    transform: translateY(0);
}

.transfer-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 90%;
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.transfer-container h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

.transfer-container .form-group {
    margin-bottom: 15px;
}

.transfer-container .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

.transfer-container .form-group input,
.transfer-container .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #dcdfe1;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.transfer-container .form-group input:focus,
.transfer-container .form-group textarea:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.transfer-buttons {
    display: flex;
    gap: 10px;
}

.accept-button,
.cancel-button {
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.accept-button {
    background-color: #4caf50;
    color: white;
}

.accept-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.cancel-button {
    background-color: #e74c3c;
    color: white;
}

.cancel-button:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

.transfer-button {
    background-color: #ffa500;
    /* Naranja */
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.transfer-button:hover {
    background-color: #e69500;
    /* Naranja oscuro */
    transform: translateY(-2px);
}

.transfer-button:active {
    background-color: #cc8500;
    transform: translateY(0);
}

/* Estilos para el modal de confirmación de cierre de sesión */
.logout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 11;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.logout-modal h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

.logout-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logout-modal .accept-button,
.logout-modal .cancel-button {
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-modal .accept-button {
    background-color: #4caf50;
    color: white;
    margin-right: 10px; /* Añadir margen a la derecha */
}

.logout-modal .accept-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.logout-modal .cancel-button {
    background-color: #e74c3c;
    color: white;
    margin-left: 10px; /* Añadir margen a la izquierda */
}

.logout-modal .cancel-button:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}