.App {
	position: relative;
	text-align: center;
	background-color: white;
}

/* Estado inicial, fuera de la pantalla */
.hidden {
	transform: translateX(
		100%
	); /* Mueve el elemento completamente fuera de la vista hacia la derecha */
	opacity: 0;
	transition: transform 0.5s ease, opacity 0.5s ease; /* Duración de la transición */
	width: 35%; /* El ancho deseado */
	position: fixed; /* Fija el elemento a la derecha */
	top: 0;
	right: 0;
	height: 100vh; /* Ocupa toda la altura de la pantalla */
	background-color: white; /* Color de fondo opcional */
	overflow-wrap: break-word;
	word-wrap: break-word;
	white-space: pre-wrap;
}

/* Estado visible, en la posición deseada */
.show {
	transform: translateX(0); /* Mueve el elemento a su posición visible */
	opacity: 1;
	transition: transform 0.5s ease, opacity 0.5s ease;
}
